
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.holder {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.items {
	width: 90px;
	height: 90px;
	flex-wrap: wrap;
	background-color: green;
}